version: 2.1

commands:
  attach_made_workspace:
    description: Attach workspace generated files from another job
    steps:
      - attach_workspace:
          at: /root/notarize

executors:
  default_rust_compiler:
    docker:
      - image: rust:1.55.0-buster
    working_directory: /root/notarize/qlc
    environment:
      CARGO_HOME: /root/notarize/qlc/.cargo

  cross_compiling_host:
    docker:
      - image: notarize/cross-rust:1.55.0-buster
    working_directory: /root/notarize/qlc
    environment:
      CARGO_HOME: /root/notarize/qlc/.cargo

  github_api_client:
    docker:
      - image: notarize/github-api-client:ghr-0.14.0
    working_directory: /root/notarize/qlc

  node_env:
    docker:
      - image: notarize/node-ci:12.16.1
    working_directory: /root/notarize/qlc

jobs:
  cargo_init:
    executor: default_rust_compiler
    steps:
      - checkout
      - restore_cache:
          keys:
            - cargo-cache-v2-{{ checksum "Cargo.lock" }}
            - cargo-cache-v2-
      - run:
          name: Building
          command: cargo build --all-targets --all-features
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
            - .cargo
          key: cargo-cache-v2-{{ checksum "Cargo.lock" }}
      - persist_to_workspace:
          root: /root/notarize
          paths:
            - qlc

  fmt:
    executor: default_rust_compiler
    steps:
      - attach_made_workspace
      - run:
          name: Getting rustfmt
          command: rustup component add rustfmt
      - run:
          name: Checking formating
          command: cargo fmt --all -- --check

  lint:
    executor: default_rust_compiler
    steps:
      - attach_made_workspace
      - run:
          name: Getting clippy
          command: rustup component add clippy
      - run:
          name: Linting
          command: cargo clippy --all-targets --all-features -- -D warnings

  test:
    executor: default_rust_compiler
    steps:
      - attach_made_workspace
      - run:
          name: Testing
          command: cargo test -- --test-threads=7

  build_release_bin:
    executor: cross_compiling_host
    steps:
      - attach_made_workspace
      - run:
          name: Building OS X
          command: cargo build --release --target=x86_64-apple-darwin
          environment:
            CC: o64-clang
            CXX: o64-clang++
            LIBZ_SYS_STATIC: 1
      - run:
          name: Building Linux Musl
          command: cargo build --release --target=x86_64-unknown-linux-musl
      - persist_to_workspace:
          root: /root/notarize
          paths:
            - qlc/target/x86_64-apple-darwin/release
            - qlc/target/x86_64-unknown-linux-musl/release

  create_github_release:
    executor: github_api_client
    steps:
      - attach_made_workspace
      - run:
          name: Making GitHub Release
          command: |
            mkdir -p archives

            LINUX_MUSL="x86_64-unknown-linux-musl"
            cd "$CIRCLE_WORKING_DIRECTORY/target/$LINUX_MUSL/release"
            VERSION=$(./qlc --version | sed 's/QL Compiler //g')
            tar czf "qlc-$VERSION-$LINUX_MUSL.tar.gz" qlc
            mv "qlc-$VERSION-$LINUX_MUSL.tar.gz" "$CIRCLE_WORKING_DIRECTORY/archives/."

            MAC_OSX="x86_64-apple-darwin"
            cd "$CIRCLE_WORKING_DIRECTORY/target/$MAC_OSX/release"
            tar czf "qlc-$VERSION-$MAC_OSX.tar.gz" qlc
            mv "qlc-$VERSION-$MAC_OSX.tar.gz" "$CIRCLE_WORKING_DIRECTORY/archives/."

            cd "$CIRCLE_WORKING_DIRECTORY"
            ls -l archives
            ghr \
              -t "$GITHUB_TOKEN" \
              -n "v$VERSION" \
              -c "$CIRCLE_SHA1" \
              "$VERSION" archives

  create_npm_release:
    executor: node_env
    steps:
      - attach_made_workspace
      - run:
          name: Configuring NPM Token
          command: |
            echo "registry=https://registry.npmjs.org/" > ~/.npmrc
            echo "//registry.npmjs.org/:_authToken=${NOTARBOT_NPM_TOKEN}" >> ~/.npmrc
      - run:
          name: Publishing Package
          command: |
            VERSION=$(./target/x86_64-unknown-linux-musl/release/qlc --version | sed 's/QL Compiler //g')
            cd pkg/npm
            sed -i "s/QLC_VERSION/$VERSION/g" package.json
            yarn publish --new-version "$VERSION" --access public

workflows:
  version: 2
  Everything:
    jobs:
      - cargo_init:
          filters:
            branches:
              ignore: main

      - test:
          requires:
            - cargo_init
          filters:
            branches:
              ignore: main

      - lint:
          requires:
            - cargo_init
          filters:
            branches:
              ignore: main

      - fmt:
          requires:
            - cargo_init
          filters:
            branches:
              ignore: main

      - build_release_bin:
          requires:
            - test
            - lint
            - fmt
          filters:
            branches:
              only: production

      - create_github_release:
          requires:
            - build_release_bin
          filters:
            branches:
              only: production

      - create_npm_release:
          requires:
            - create_github_release
          filters:
            branches:
              only: production
